.font-xs {
  font-size: 0.8em;
}
.mint {
  background-color: $mint-yellow;
  color: $mint-black;
}
.mint-urgent {
  background-color: $mint-orange;
  color: $mint-black;
}
.mint-ecom {
  background-color: $mint-red;
  color: $mint-black;
}
.mint-green {
  background-color: $mint-green;
  color: $mint-black;
}
.mint-reverse {
  background-color: $mint-black;
  color: white;
}
.mint-white {
  background-color: white;
  color: black;
}
.mint-cell {
  background-color: white;
  color: black;
  border-color: black;
}
.mint-search {
  background-color: rgb(219, 219, 219);
}

.fondomint {
  background-image: url(assets/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.5);
  background-blend-mode: lighten;
}

thead tr th {
  position: sticky;
  z-index: 1;
}
thead tr:first-child th {
  top: 0;
}
