/* Estilos opcionales para el componente */
.packagelabel {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.barcode-container {
  text-align: center;
  margin-top: 10px; /* Ajusta según sea necesario */
}

canvas {
  margin: 20px;
}

.bulto-label {
  margin-left:80px;
}
